# ── Base de datos ──────────────────────────────────
# Formato: mysql://USUARIO:CONTRASEÑA@HOST:PUERTO/NOMBRE_DB
DATABASE_URL="mysql://root:password@localhost:3306/estadisticasDkd"

# Variables para Docker Compose (MySQL container)
DB_ROOT_PASSWORD="password"
DB_NAME="estadisticasDkd"

# ── JWT ────────────────────────────────────────────
JWT_SECRET="cambia_esto_por_un_secreto_seguro_en_produccion"
JWT_EXPIRATION="4h"
